{% extends 'base.html.twig' %}

{% block body %}
    {% block content %}

        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <h1>Forbidden</h1>

                    <p>
                        You don't have the access to the requested page.
                    </p>
                </div></div></div>
    {% endblock %}
{% endblock %}